<div class="grid">
  <h1>{{ "products.title" | translate }}</h1>
  <div class="export-button">
    <button
      pButton
      (click)="exportProducts()"
      type="button"
      icon="pi pi-upload"
      [label]="'export' | translate"
    ></button>
  </div>
  <div class="export-type">
    <p-dropdown
      [options]="exportTypes"
      optionLabel="name"
      optionValue="value"
      [(ngModel)]="exporter"
    >
    </p-dropdown>
  </div>
  <div class="add-button">
    <button
      type="button"
      pButton
      [label]="'products.new' | translate"
      class="p-button-raised"
      icon="pi pi-plus"
      (click)="openAddDialog()"
    ></button>
  </div>
  <p-table
    class="table"
    [value]="productList"
    [paginator]="true"
    [rows]="5"
    [scrollable]="true"
    scrollHeight="50vh"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [resizableColumns]="true"
    [rowHover]="true"
    [(selection)]="selectedProductList"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>{{ "products.name" | translate }}</th>
        <th>{{ "products.serial-number" | translate }}</th>
        <th>{{ "products.description" | translate }}</th>
        <th>{{ "products.condition" | translate }}</th>
        <th>{{ "products.added-time" | translate }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.serialNumber }}</td>
        <td
          class="description"
          pTooltip="{{ product.description }}"
          tooltipPosition="bottom"
        >
          {{ product.description }}
        </td>
        <td>{{ product.itemCondition }}</td>
        <td>{{ product.addedTime | date: "dd-MM-yyyy" }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning p-button-text"
            (click)="updateProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteProduct(product.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<app-add-new-item
  [opened]="displayDialog"
  [product]="productToUpgrade"
  (dialogClosed)="closedDialog($event)"
></app-add-new-item>
