$default_color : #13C4A3;
$text_color : #32322C;

.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.grid{
  display: grid;
  grid-template-columns: 0.12fr 1fr 0.15fr;
  grid-row-gap: 1em;
  width: 96%;
  height: 100%;
  margin-left: 2em;
  grid-template-rows: 0.15fr 0.15fr 1fr;
}

h1{
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.export-button{
  grid-row: 2;
  grid-column: 1;
}

.export-type{
  grid-column: 2;
  grid-row: 2;
}

.add-button{
  grid-column: 3;
  grid-row: 2;
  justify-content: center;
}

.table{
 grid-row: 3;
 grid-column-start: 1;
 grid-column-end: 4;
 width: 100%;
 z-index: 1;
}

th,td{
  justify-content: center;
  max-width: 160px;
}
::ng-deep .p-datatable-resizable .p-datatable-thead>tr>th{
  overflow: visible !important;
}
