<div class="grid">
  <h1>{{ "products.title" | translate }}</h1>
  <div class="export-button">
    <button
      pButton
      (click)="exportProducts()"
      type="button"
      icon="pi pi-upload"
      [label]="'export' | translate"
    ></button>
  </div>
  <div class="export-type">
    <p-dropdown
      [options]="exportTypes"
      optionLabel="name"
      optionValue="value"
      [(ngModel)]="exporter"
    >
    </p-dropdown>
  </div>
  <div class="add-button">
    <button
      type="button"
      pButton
      [label]="'products.new' | translate"
      class="p-button-raised"
      icon="pi pi-plus"
      (click)="openAddDialog()"
    ></button>
  </div>
  <p-table
    class="table"
    [value]="productList"
    [scrollable]="true"
    scrollHeight="50vh"
    [resizableColumns]="true"
    [rowHover]="true"
    [(selection)]="selectedProductList"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="select"></th>
        <th pSortableColumn>
          {{ "products.name" | translate }} <i class="pi pi-arrow-up"></i>
        </th>
        <th>{{ "products.serial-number" | translate }}</th>
        <th class="description">{{ "products.description" | translate }}</th>
        <th>{{ "products.condition" | translate }}</th>
        <th>{{ "products.added-time" | translate }}</th>
        <th class="buttons"></th>
      </tr>
      <tr>
        <th class="select">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <app-filter
            (filterValue)="filterProducts($event, 'productName')"
          ></app-filter>
        </th>
        <th>
          <app-filter
            (filterValue)="filterProducts($event, 'serialNumber')"
          ></app-filter>
        </th>
        <th class="description">
          <app-filter
            (filterValue)="filterProducts($event, 'description')"
          ></app-filter>
        </th>
        <th class="dropdown-filter">
          <p-dropdown
            class="dropdown"
            [(ngModel)]="filteredItemCondition"
            [options]="itemConditionList"
            (onChange)="filter($event.value)"
            optionLabel="name"
            optionValue="value"
            placeholder="Any"
            [showClear]="true"
          >
          </p-dropdown>
        </th>
        <th></th>
        <th class="buttons"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td class="select">
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.serialNumber }}</td>
        <td
          class="description"
          pTooltip="{{ product.description }}"
          tooltipPosition="bottom"
        >
          {{ product.description }}
        </td>
        <td>{{ product.itemCondition }}</td>
        <td>{{ product.addedTime | date: "dd-MM-yyyy" }}</td>
        <td class="buttons">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning p-button-text"
            (click)="updateProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteProduct(product.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <app-paginator
        (pageLoaded)="pageLoaded($event)"
        [column]="column"
        [filter]="doFilter"
        [refresh]="refresh"
      ></app-paginator>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<app-add-new-item
  [opened]="displayDialog"
  [product]="productToUpgrade"
  (dialogClosed)="closedDialog($event)"
></app-add-new-item>
