.main{
  display: grid;
  grid-template-columns: 10em auto;
  grid-template-rows: 5em auto;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
}

.header{
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
}

.content{
  margin-left: 2rem;
  grid-area: content;
}

