<div class="container">
  <div class="inputs">
    <p [hidden]="isAllCompleted">{{ "auth.error" | translate }}</p>
    <span class="p-float-label p-input-icon-right">
      <i class="pi pi-user"></i>
      <input
        id="float-input"
        type="text"
        pInputText
        [(ngModel)]="user.username"
      />
      <label for="float-input">{{ "auth.username" | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-password
        type="password"
        id="float-password"
        [toggleMask]="true"
        [(ngModel)]="user.password"
        [feedback]="false"
      ></p-password>
      <label for="float-password">{{ "auth.password" | translate }}</label>
    </span>
    <button
      pButton
      class="p-button-rounded p-button-success"
      (click)="login()"
      [label]="'auth.login-button' | translate"
    ></button>
    <i
      class="pi pi-spin pi-spinner"
      style="font-size: 2rem"
      *ngIf="loggingIn"
    ></i>
    <p id="new-account">
      {{ "auth.no-account" | translate }}
      <a routerLink="/login/register">{{ "auth.here" | translate }}</a>
    </p>
  </div>
</div>
