<p-dialog
  [(visible)]="opened"
  [formGroup]="newProductForm"
  (onHide)="closeDialog(null)"
>
  <ng-template pTemplate="header"> {{ dialogHeader }} </ng-template>
  <form class="new-product-form" [formGroup]="newProductForm">
    <div class="field">
      <label for="productName" class="block">{{
        "products.title" | translate
      }}</label>
      <input
        id="productName"
        type="text"
        pInputText
        formControlName="productName"
      />
    </div>
    <div class="field">
      <label for="serialNumber" class="block">{{
        "products.serial-number" | translate
      }}</label>
      <input
        id="serialNumber"
        type="text"
        pInputText
        formControlName="serialNumber"
        placeholder="Length must be 11 long"
        maxlength="11"
      />
    </div>
    <div class="field">
      <label for="description" class="block">{{
        "products.description" | translate
      }}</label>
      <textarea
        [rows]="5"
        [cols]="30"
        pInputTextarea
        formControlName="description"
      ></textarea>
    </div>
    <div class="field">
      <label for="itemCondition" class="block">{{
        "products.condition" | translate
      }}</label>
      <div class="field">
        <p-dropdown
          class=".product-condition"
          [options]="itemConditionList"
          formControlName="itemCondition"
          optionLabel="name"
          optionValue="value"
          appendTo="body"
          [placeholder]="
            formItemConditionValue()
              ? (formItemConditionValue() | translate)
              : ('products.placeholder' | translate)
          "
          [virtualScroll]="true"
        >
          <ng-template pTemplate="item" let-condition>
            <div>{{ condition.name | translate }}</div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      class="p-button-raised p-button-success"
      pButton
      [label]="'confirm' | translate"
      (click)="confirm()"
    ></button>
    <button
      class="p-button-raised p-button-danger"
      pButton
      (click)="closeDialog(null)"
      [label]="'cancel' | translate"
    ></button>
  </ng-template>
</p-dialog>
