<p-dialog
  [(visible)]="opened"
  [formGroup]="newProductForm"
  (onHide)="closeDialog()"
>
  <ng-template pTemplate="header"> {{ dialogHeader }} </ng-template>
  <form class="new-product-form" [formGroup]="newProductForm">
    <div class="field">
      <label for="productName" class="block">{{
        "products.title" | translate
      }}</label>
      <input
        id="productName"
        type="text"
        pInputText
        formControlName="productName"
      />
    </div>
    <div class="field">
      <label for="serialNumber" class="block">{{
        "products.serial-number" | translate
      }}</label>
      <input
        id="serialNumber"
        type="text"
        pInputText
        formControlName="serialNumber"
        placeholder="Length must be 11 long"
        maxlength="11"
      />
    </div>
    <div class="field">
      <label for="description" class="block">{{
        "products.description" | translate
      }}</label>
      <textarea
        [rows]="5"
        [cols]="30"
        pInputTextarea
        formControlName="description"
      ></textarea>
    </div>
    <div class="field">
      <label for="itemCondition" class="block">{{
        "products.condition" | translate
      }}</label>
      <p-dropdown
        [options]="itemConditionList"
        formControlName="itemCondition"
        optionLabel="name"
        optionValue="value"
        placeholder="Select item condition"
        [virtualScroll]="true"
      ></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button
      class="p-button-raised p-button-success"
      pButton
      label="Confirm"
      (click)="confirm()"
    ></button>
    <button
      class="p-button-raised p-button-danger"
      pButton
      (click)="closeDialog()"
    >
      {{ "cancel" | translate }}
    </button>
  </ng-template>
</p-dialog>
