<div class="container">
  <form class="reg-fields" [formGroup]="newUserForms">
    <h1>{{ "auth.register.title" | translate }}</h1>
    <div class="field">
      <label for="name" class="block">{{
        "auth.register.name" | translate
      }}</label>
      <input id="name" type="text" pInputText formControlName="name" />
    </div>
    <div class="field">
      <label for="username" class="block">{{
        "auth.username" | translate
      }}</label>
      <input
        id="username"
        type="text"
        pInputText
        formControlName="username"
        [ngClass]="isErrorPresent('username') ? 'ng-invalid ng-dirty' : ''"
      />
      <small
        id="username"
        class="p-error block"
        *ngIf="isErrorPresent('username')"
        >{{ "auth.register.error-username" | translate }}</small
      >
    </div>
    <div class="field">
      <label for="password" class="block">{{
        "auth.password" | translate
      }}</label>
      <input
        id="password"
        type="password"
        pPassword
        formControlName="password"
        [feedback]="false"
        [ngClass]="isErrorPresent('password') ? 'ng-invalid ng-dirty' : ''"
      />
      <small
        id="password"
        class="p-error block"
        *ngIf="isErrorPresent('password')"
        >{{ "auth.register.error-password" | translate }}</small
      >
    </div>
    <div class="field">
      <label for="profilePicture" class="block">{{
        "auth.register.profile-picture" | translate
      }}</label>
      <p-fileUpload
        id="profilePicture"
        class="file-upload"
        accept="image/*"
        [maxFileSize]="1000000"
        (onSelect)="onSelect($event)"
        [showUploadButton]="false"
        [showCancelButton]="false"
      >
        <ng-template let-file pTemplate="file">
          <p>{{ file.name }}</p>
        </ng-template>
      </p-fileUpload>
    </div>
    <span class="buttons">
      <button
        pButton
        type="button"
        class="p-button-rounded p-button-success"
        [label]="'auth.register.register-button' | translate"
        (click)="register()"
      ></button>
      <button
        pButton
        type="button"
        [label]="'cancel' | translate"
        class="p-button-rounded p-button-danger"
        (click)="cancel()"
      ></button>
    </span>
  </form>
</div>
