::ng-deep .p-toolbar{
  height: 70px;
  padding: 0.4em;
  border-radius: 0%;
  width:100%;
  background-color: rgb(243, 240, 240);
}

.p-toolbar-group-right{
  display: flex;
  width: 20em;
  justify-content: space-around;

  h3{
    color:#32322C;
  }
}

.user-menu{
  background-color: transparent;
  border: 0px;
  color: red;
}

